
<div class="row">
  <h3 class="col-sm-4 col-sm-offset-1 " >Update device </h3>
</div>

<div class="row">
  <div class="span4 offset4 form">
    <%= form_for(@device) do |d| %>      
      <%= d.label :name %>
      <%= d.text_field :name %>    

      <%= d.label :short_name %>
      <%= d.text_field :short_name %>    

      <%= d.label :description %>
      <%= d.text_field :description %>  

      <div class="row margin-top">
        <div class="col-sm-9 text-center">
          <%= d.submit "Save", class: "btn btn-md btn-primary" %>
          <%= link_to 'Back', devices_path, class: "btn btn-md btn-primary" %>
        </div>        
      </div>      
      
    <% end %>
  </div>
</div>