<div class="row">
  <div class="span3 offset4">
    <%= form_for(@device) do |d| %>      
      <%= d.label :name %>
      <%= d.text_field :name %>    

      <%= d.label :short_name %>
      <%= d.text_field :short_name %>    

      <%= d.label :description %>
      <%= d.text_field :description %>  

      <div class="row text-center">
        <%= d.submit "Add", class: "btn btn-large btn-primary" %>
        <%= link_to 'Back', devices_path, class: "btn btn-large btn-primary" %>
      </div>
      
    <% end %>
  </div>
</div>