<div class="row">
  <div class="span3 offset4 ">
    <%= form_for(@room) do |r| %>      
      <%= r.label :name %>
      <%= r.text_field :name %>     
       <div class="row text-center">
        	<%= r.submit "Add", class: "btn btn-large btn-primary" %>
        	<%= link_to 'Back', rooms_path, class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>