
<div class="row">
  <h3 class="col-sm-4 col-sm-offset-1 " >Create new request </h3>
</div>
<div class="row">
  <div class="span4 offset4 ">
    <%= form_for @dashboards do |dl| %>      
      <div class="row col-sm-offset-4">
        <%= dl.label :device_id %>
        <%= dl.collection_select(:device_id, Device.all, :id, :name) %>
      </div>
      
      <div class="row col-sm-offset-4">
        <%= dl.label :room_id %>
        <%= dl.collection_select(:room_id, Room.all, :id, :name) %>
      </div>      

      <div class="row margin-top">
        <div class="col-sm-9 text-center">
          <%= dl.submit "Add", class: "btn btn-md btn-primary" %>
          <%= link_to 'Back', dashboards_path, class: "btn btn-md btn-primary" %>
        </div>        
      </div>      
    <% end %>
  </div>
</div>