<div class="row">
  <div class="span4 offset4 ">
    <%= form_for(@devices_location) do |dl| %>      

      <%= dl.label :user %>
      <%= dl.collection_select(:user_id, User.all, :id, :name) %>

      <%= dl.label :device %>
      <%= dl.collection_select(:device_id, Device.all, :id, :name) %>

      <%= dl.submit "Add", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>